body {
    margin: 0 auto;
    font-size: 14px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
}
h1{
    font-size: 5em;
}
h2{
    font-size: 3em;
}
p{
    font-size: 1em;
}

.featured-item{
    font-family: sans-serif;
    padding: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    border: 1px solid blue;
    color: #00ff4c;
}
